<p> Business Profile ID: <%= @business_profile.id  %></p>
<p> Business Name:<%= @business_profile.business_name%></p>
<p>Start your membership now!</p>


Option 1 - Monthly Plan - Expires In One Month - $10 every month
<%= form_for @membership, url:memberships_path do |f| %>
  Current Date
  <%= f.text_field :start_date, value:Date.current%>
  Ending Date
  <%= f.text_field :end_date, value:Date.current + 1.month%>  
  Business Profile
  <%= f.text_field :business_profile_id, value:@business_profile.id%>

<%= render partial: 'application/stripe_form', locals: {amount: 10}  %>

<%end%>


Option 2 - Quarterly Plan - Expires in 3 months. You pay $20 every three month.
<%= form_for @membership, url:memberships_path do |f| %>
  Starting Date
  <%= f.text_field :start_date, value:Date.current%>
  Ending Date
  <%= f.text_field :end_date, value:Date.current + 3.months%>  
  Business Profile
  <%= f.text_field :business_profile_id, value:@business_profile.id%>

<%= render partial: 'application/stripe_form', locals: {amount: 20}  %>

<%end%>
Option 3 - Yearly $60 per year. You pay $60 every year.
<%= form_for @membership, url:memberships_path do |f| %>
  Current Date
  <%= f.text_field :start_date, value:Date.current%>
  Ending Date
  <%= f.text_field :end_date, value:Date.current + 12.months%>  
  Business Profile
  <%= f.text_field :business_profile_id, value:@business_profile.id%>  
<%= render partial: 'application/stripe_form', locals: {amount: 60}  %>
<%end%>


