<%= form_with(model: business_profile, local: true) do |form| %>
  <% if business_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business_profile.errors.count, "error") %> prohibited this business_profile from being saved:</h2>
      <ul>
        <% business_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :business_name,class: "form-control",hidden:true %>
  <%= form.text_area :business_profile_description,class: "form-control ",hidden:true %>
  <%= form.text_field :australian_business_number,class: "form-control" ,hidden:true %>
  <div class="input-group">
    <div class ="mb-1">
      <%= form.file_field :logo_image, class: "form-control"%>
    </div>
    <div class="input-group-append mb-1">
      <%= form.submit "Upload logo",:class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
