<div class="home-nav">
  <%= render 'nav' %>
</div>
<div class="jumbotron jumbotron-fluid mb-0 pb-0 pt-3">
  <div class="container">
    <h1 class="display-4  ">
      <span class="badge badge-info display-2 p-2"> Find a Tradie.com </span>
    </h1>
    <p class="lead">&nbsp Find your local tradie </p>
    <br>
  </div>
</div>
<div class="container p-5">
  <form action="/search" method="get">
    <div class="row">
      <div class="input-group mb-3 col-lg-6">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Trade</span>
        </div>
        <select name="trade[]" multiple=""  id="trade_selectbox" class="form-control" required >
        </select>
      </div>
      <div class="input-group mb-3 col-lg-6">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Location</span>
        </div>
        <select name="location" id="location_selectbox" class="form-control" required>
        </select>
      </div>
    </div>
    <br>
    <div class="form-group text-center">
      <%= button_tag :class => "btn btn-info" do %>
        Search <%=fa_icon('search') %>
      <% end %>
    </div>
  </form>
</div>
<div class="container category text-center">
  <p class="shadow rounded">Popular in </p>
  <ul class="nav nav-tabs mx-auto" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#melbourne" role="tab"><%= fa_icon('flag') %>
        Melbourne</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#sydney" role="tab"><%= fa_icon('flag') %>
        Sydney</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#adeliade" role="tab"><%= fa_icon('flag') %>
        Adelaide</a>
    </li>
  </ul>
  <div class="tab-content category">
    <div id="melbourne" class="tab-pane active fade show">
      <%= render 'melbourne' %>
    </div>
    <div id="sydney" class="tab-pane fade">
      <%= render 'sydney' %>
    </div>
    <div id="adeliade" class="tab-pane fade">
      <%= render 'adeliade' %>
    </div>
  </div>
