
<h3> Popular Catogries - checkbox </h3>

<%= link_to "Electricians"%>
<%= link_to "Builder"%>
<%= link_to "Electricians"%>
<%= link_to "Gardener"%>
<%= link_to "Tiler" %>
<div></div>

<h3> Cities Check box - checkbox <h3>
<div class="city">Sydney</div>
<div class="city">Melbourne</div>
<div class="city">Perth</div>
<div class="city">Brisbane</div>
<div class="city">Adelaide</div>
<div class="city">Canberra</div>
<div class="city">Hobart</div>
<div class="city">Darwin</div>



<h3> sort by <h3>
<p>average rating</p>
<p>number of review</p>


<%# <p> Popular Cities: </p>

<div class="cities">
<div class="city">Sydney</div>
<div class="city">Melbourne</div>
<div class="city">Perth</div>
<div class="city">Brisbane</div>
<div class="city">Adelaide</div>
<div class="city">Canberra</div>
<div class="city">Hobart</div>
<div class="city">Darwin</div>



</div> %>