<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>
<p>
  <strong>Mobile number:</strong>
  <%= @contact.mobile_number %>
</p>
<p>
  <strong>Landline number:</strong>
  <%= @contact.landline_number %>
</p>
<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back to dashboard', "/dashboards" %>
