<div class="container">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <div class="field">
        <%= f.label :email do%>
          <%= fa_icon('envelope')%> <small>Email Address</small>
        <% end %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="field">
        <%= f.label :password do%>
          <%=fa_icon('lock') %> <small>Password</small>
        <% end %>
        <%= f.password_field :password, :class => "form-control"%>
      </div>
    </div>
    <div class="text-center">
      <%= button_tag :class => "btn btn-info" do %>
        Login <%=fa_icon('sign-in') %>
      <% end %>
    </div>
  </div>
<% end %>
<div class="container">
  <%= render "devise/shared/links" %>
</div>
</div>
