
<p><strong>Logo Section:</strong></p>
    <% if @business_profile.logo_image.attached?%>
    <%= image_tag @business_profile.logo_image%>

    <%#= link_to 'delete', '/galleries/logo_photo_destroy', :method => :delete, :confirm => "You sure?"%>
    
<%= form_for @business_profile, :url => 'logo_photo_destroy' do |form| %>

  <%= form.submit %>
<% end %>


    
    <% else%>
    <p> No logo image for this profile</p>
    <%end%>

<p><strong>Project Photos Space</strong></p>
<% if @business_profile.images.attached?%>
    <% @business_profile.images.each do |image| %>
      <%= image_tag image %>
      <%= link_to "Delete"%>
    <% end %>

    <% else%>
    <p> No image for this profile</p>
<%end%>
