<p> This page will allow people to add new photos <p>

<div class="container">
  <div class="row p-2">
    <p><strong>Add Photos to this business profile</strong></p>
  </div>

    <p><strong>Business Profile ID:</strong></p>
    <%= @business_profile.id%>
  
    <p><strong>Business Profile Name:</strong></p>
  
  <%= @business_profile.business_name%>

  <p><strong>Business Profile Description:</strong></p>
  <%= @business_profile.business_profile_description%>

  <%= render 'photo_form', business_profile: @business_profile %>
  <%= link_to 'Back to dashboard', "/dashboards" %>
</div>